<template>
  <b-container class="bg-light">
    <b-row class="header-body">
      <b-col>
        <h1>Welcome to the Forum</h1>
      </b-col>
    </b-row>

    <b-row class="p-1 rounded-lg">
      <b-col>
        <ThreadList />
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import Vue from "vue";
import ThreadList from "@/components/ThreadList.vue";

export default Vue.extend({
  name: "Home",
  components: {
    ThreadList
  }
});
</script>

<style lang="scss" scoped>
.header-body {
  padding: 1.5rem 0;
}
</style>
