<template>
  <b-container class="bg-light">
    <b-row class="header-body">
      <b-col
        ><h1>Not Found</h1>
        <p>
          Oops, we couldn't find what you are looking for. Why don't you
          <router-link :to="{ name: 'Home' }">go home instead?</router-link>
        </p></b-col
      >
    </b-row>
  </b-container>
</template>
