<template>
  <b-container class="bg-light pb-5">
    <b-row class="header-body">
      <b-col>
        <h1>{{ thread.title }}</h1>
        <div class="d-flex justify-content-between">
          <p>
            By {{ users[thread.userId].name }},
            <AppDate :timestamp="thread.publishedAt" />
          </p>
          <p class>{{ Object.keys(thread.posts).length - 1 }} replies</p>
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <PostList :threadPosts="threadPosts" :threadUsers="threadUsers" />
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <PostEditor @submitNewPost="addPost" />
      </b-col>
    </b-row>
  </b-container>
</template>
<script lang="ts">
import Vue from "vue";
import sourceData, { Thread, Post, User } from "@/data";
import PostList from "@/components/PostList.vue";
import PostEditor from "@/components/PostEditor.vue";

export default Vue.extend({
  props: {
    id: {
      required: true,
      type: String
    }
  },

  components: {
    PostList,
    PostEditor
  },

  data() {
    return {
      threads: sourceData.threads,
      posts: sourceData.posts,
      users: sourceData.users,
      newPostText: ""
    };
  },

  methods: {
    addPost({ text }: { text: string }) {
      const postId = "greatPost" + Math.random();
      const post: Post = {
        text: text,
        publishedAt: Math.floor(Date.now() / 1000),
        threadId: this.id,
        userId: this.threadUsers[0][".key"],
        ".key": postId
      };

      Vue.set(sourceData.posts, postId, post);
      Vue.set(this.thread.posts, postId, postId);
      Vue.set(sourceData.users[post.userId].posts || {}, postId, postId);

      this.newPostText = "";
    }
  },

  computed: {
    thread(): Thread {
      return this.threads[this.id];
    },
    threadPosts(): Post[] {
      const threadPostsId = Object.keys(this.thread.posts);
      const posts = threadPostsId.map(postId => this.posts[postId]);
      return posts;
    },
    threadUsers(): User[] {
      const users = this.threadPosts.map(post => this.users[post.userId]);
      return users;
    }
  }
});
</script>

<style lang="scss" scoped></style>
