<template>
  <span :title="timestamp | unixToDate">
    {{ timestamp | unixToDateDiff }}
  </span>
</template>
<script lang="ts">
import Vue from "vue";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import utc from "dayjs/plugin/utc";

dayjs.extend(relativeTime);
dayjs.extend(utc);

export default Vue.extend({
  props: {
    timestamp: {
      type: Number,
      required: true
    }
  },
  filters: {
    unixToDate(unixTimestamp: number): string {
      return dayjs
        .utc(dayjs.unix(unixTimestamp))
        .format("MMMM D YYYY, h:mm:ss a");
    },
    unixToDateDiff(unixTimestamp: number): string {
      return dayjs.utc(dayjs.unix(unixTimestamp)).fromNow();
    }
  }
});
</script>
