<template>
  <b-button @click="onClick" variant="primary">
    <slot></slot>
  </b-button>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "my-button",
  methods: {
    onClick(): void {
      this.$emit("click");
    }
  }
});
</script>

<style lang="scss"></style>
