<template>
  <b-navbar id="navbar" toggleable>
    <b-navbar-brand href="#">
      TypeScript + BootstrapVue + Storybook PoC
    </b-navbar-brand>
    <b-navbar-toggle target="navbar-toggle-collapse" />
    <b-collapse id="navbar-toggle-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item to="/about">About</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>

<style lang="scss" scoped>
.navbar-brand {
  color: $primary;
  white-space: normal;
}
@media (min-width: 768px) {
  #navbar-toggle-collapse {
    display: block !important;
  }
  .navbar-toggler {
    display: none;
  }
}
</style>
