<template>
  <b-container fluid>
    <b-form @submit.prevent="emitNewPost">
      <b-card>
        <b-form-textarea v-model="newPostText"></b-form-textarea>
      </b-card>
      <b-button variant="primary" class="mt-2 float-right" type="submit">
        Submit Post
      </b-button>
    </b-form>
  </b-container>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      newPostText: ""
    };
  },
  methods: {
    emitNewPost() {
      this.$emit("submitNewPost", { text: this.newPostText });
      this.newPostText = "";
    }
  }
});
</script>
