<template>
  <b-card class="mb-2">
    <b-container>
      <b-row>
        <b-col cols="2" class="text-center">
          <a href="#" class="text-primary mb-2"> {{ user.name }} </a><br />
          <b-avatar :src="user.avatar" size="6rem" />
          <p>
            {{ userPostsCount }}
            posts
          </p>
        </b-col>
        <b-col class="d-flex flex-column justify-content-between">
          <p>{{ post.text }}</p>
          <AppDate
            :timestamp="post.publishedAt"
            class="float-right text-muted align-self-end"
          />
        </b-col>
      </b-row>
    </b-container>
  </b-card>
</template>
<script lang="ts">
import Vue from "vue";
import { Post, User } from "@/data";

export default Vue.extend({
  props: {
    post: {
      type: Object as () => Post,
      required: true
    },
    user: {
      type: Object as () => User,
      required: true
    }
  },
  computed: {
    userPostsCount(): number {
      if (this.user.posts) return Object.keys(this.user.posts).length;
      else return 0;
    }
  }
});
</script>
