<template>
  <b-container fluid>
    <PostListItem
      v-for="post in threadPosts"
      :key="post['.key']"
      class="mb-2"
      :post="post"
      :user="getUser(post.userId)"
    />
  </b-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Post, User } from "@/data";
import PostListItem from "@/components/PostListItem.vue";

export default Vue.extend({
  name: "ThreadList",
  components: {
    PostListItem
  },
  props: {
    threadPosts: { type: Array as () => Post[], required: true },
    threadUsers: { type: Array as () => User[], required: true }
  },
  methods: {
    getUser(userId: string): User | undefined {
      return this.threadUsers.find(user => user[".key"] === userId);
    }
  }
});
</script>
