<template>
  <b-card>
    <b-link :to="{ name: 'ThreadView', params: { id: thread['.key'] } }">
      <h4>{{ thread.title }}</h4>
    </b-link>
    <div class="d-flex justify-content-between">
      <p class="m-0">
        By {{ poster }}, <AppDate :timestamp="thread.publishedAt" />
      </p>
      <p class="m-0">{{ Object.keys(thread.posts).length - 1 }} replies</p>
    </div>
  </b-card>
</template>
<script lang="ts">
import Vue from "vue";
import { Thread } from "@/data";

export default Vue.extend({
  props: {
    thread: {
      type: Object as () => Thread,
      required: true
    },
    poster: {
      type: String,
      required: true
    }
  },
  computed: {
    repliesCount(): number {
      return Object.keys(this.thread.posts).length - 1;
    }
  }
});
</script>
