<template>
  <b-container fluid>
    <ThreadListItem
      v-for="thread in threads"
      :thread="thread"
      :poster="users[thread.userId].name"
      :key="thread['.key']"
      class="mb-2"
    />
  </b-container>
</template>

<script lang="ts">
import Vue from "vue";
import sourceData from "@/data";
import ThreadListItem from "@/components/ThreadListItem.vue";
export default Vue.extend({
  name: "ThreadList",
  components: {
    ThreadListItem
  },
  data() {
    return {
      threads: sourceData.threads,
      posts: sourceData.posts,
      users: sourceData.users
    };
  }
});
</script>
