<template>
  <div id="app">
    <b-container fluid class="p-0">
      <b-row no-gutters class="h-100">
        <b-col id="col-navbar" md="2">
          <NavBar />
        </b-col>
        <b-col>
          <b-container fluid>
            <router-view />
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import NavBar from "@/components/NavBar.vue";
export default Vue.extend({
  components: {
    NavBar
  }
});
</script>

<style lang="scss" scoped>
#col-navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 2px solid $gray-700;
}
</style>
